body{
    background-image: url(../images/purple-flowers.jpeg);
    background-size: cover;
}

/* navbar styling */

.navbar{
    background-color: rgba(65, 91, 175, 0.938);
}

a.navbar-logo{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-style: italic;
    padding: 5px;
}

a.nav-text{
    color: white;
    padding: 12px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

/* homepage styling */
.homepage-img{
    border-radius: 50%;
    max-width: 35%;
    max-height: 35%;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 18em;
    margin: 0 auto;
    margin-top: 30px;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

h1{
    text-align: center;
    color: white;
    padding: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 50px;
}

.about-me-card{
    background-color: rgba(170, 139, 219, 0.904);
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.homepage-card-text{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: white;
}

.resume{
    float: right;
}

/* portfolio styling */

.col{
    padding: 10px;
}

.card{
    background-color: rgba(170, 139, 219, 0.904);
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.btn{
    background-color: rgba(65, 91, 175, 0.938);
    color: white;
}

.btn:hover{
    color:white;
}

/* contact page styling */

ul.social{
    list-style-type: none;
    text-align: center;
}

li{
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    
}

a{
    color: white;
}

a:hover{
    color: white;
}

.contact-btn{
    float: right;
}


/* footer styling */
.footer{
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}